*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.nav{
     display: flex;
     color: #e1e9ee;
     align-items: center;
     background-color: rgb(40 62 74) ;
     justify-content: flex-end;
     padding: 0 .2rem;
     position: fixed;
     width: 100%;

 }
 .nav img{
height: 50px;
width:50px;
 }

 .linked-list{
     display: flex;
     list-style-type:none;
     margin: 1rem;
 }

 .list a{
     color: inherit;
     text-decoration: none;
     font-weight: bold;
 }

 .list:hover{
    background-color: black;
}
.list img{
    height: 20px;
    background-clip: content-box;
}

 .list{
     padding: 0.5rem;
 }
 .col input{
    height: 35px;
    width:300px;
    border-radius: 5px;
    padding-right: 50px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 50px;
     }
     .profile {
        height: 20px;
        width: 20px;
        border-radius: 5px;
     }
 .col i{
 padding-top: 5px;
 background: transparent;

 }

 
.col img {
    
    height: 32px;
    width: 40px;
    margin-left: 0px;
    
}
.col button{
    height: 15px;
    width: 2px;
    border:0px;
    border-color: initial;
    border-radius: 50px;
    margin-left: 1px;
    margin-right: 20px;
    

}
#im{
   height: 38px;
    width: 38px;
    border-radius: 30px;
     margin-left: 0px;
}
.row h5{
    color: #e1e9ee;
    text-align: center;
    padding-right: 40px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
    text-decoration: blink;
    font-weight: normal;
}
.col a{
    color: #0073b1;
}
.solid{
    border-right: 1px solid #e1e9ee;
    height: 55px;
    width: 1px;
    margin-right: 15px;

}
